#header-wrapper
  %header
    .nav-padding
    %nav
      %ul
        %li= link_to 'John', '/john/'
        %li= link_to 'Blog', 'http://blog.ejinjue.org/'
        %li= link_to 'Projects', '/projects/'
        %li= link_to 'Notes', '/notes/'
        %li= link_to 'Play', '/play/'
