---
title: 'Daily Practice: 5 Recollections'
---
%h1= current_page.data.title

%ol
  %li= link_to 'I am subject to aging. Aging is unavoidable.', '#Jaraa-dhammomhi jara.m anatiito.'
  %li= link_to 'I am subject to illness. Illness is unavoidable.', '#Byaadhi-dhammomhi byaadhi.m anatiito.'
  %li= link_to 'I am subject to death. Death is unavoidable.', '#Mara.na-dhammomhi mara.na.m anatiito.'
  %li= link_to 'I will grow different, separate from all that is dear &amp; appealing to me.', '#Sabbehi me piyehi manaapehi naanaa-bhaavo vinaa-bhaavo.'
  %li
    = link_to 'I am the owner of my actions, heir to my actions, born of my actions, related through my actions, and live dependent on my actions.', '#Kammassakomhi kamma-daayaado kamma-yoni kamma-bandhu kamma-pa.tisara.no.'
    = link_to 'Whatever I do, for good or for evil, to that will I fall heir.', '#Ya.m kamma.m karissaami kalyaa.na.m vaa paapaka.m vaa tassa daayaado bhavissaami.'

%p= link_to 'We should often reflect on this.', '#Eva.m amhehi abhi.nha.m paccavekkhitabba.m.'

%p= link_to 'More about this...', 'http://www.accesstoinsight.org/'

%audio{ :controls => 'controls', :autoplay => 'autoplay' }
  %source{ :src => 'http://www.buddhanet.net/mp3/mbdc/09_mbdc.mp3', :type => 'audio/mp3' }
