---
title: John Nishinaga
description: "About John Nishinaga"
---
- content_for :aside do
  %h1= @item[:title]
  
  %img{ :alt => "John", :src => "/img/john.jpg" }/
  
  %dl
    %dt Goal
    %dd= link_to 'Peace, Freedom, Stillness', 'http://cambridgeinsight.org/'
    %dt Location
    %dd= link_to 'Cambridge, Massachusetts', 'https://maps.google.com/maps?q=Cambridge+MA'
    %dt Work
    %dd= link_to 'Pat Deegan & Associates', 'https://www.patdeegan.com/'
    %dt Code
    %dd= link_to 'Github', 'https://github.com/jingoro/'

  %p
    You can contact me by email at
    #{link_to('jingoro@casa-z.org', 'mailto:jingoro@casa-z.org')}.
    If you use <a href="http://www.gnupg.org/">GnuPG/PGP</a>, here is #{link_to('my public key', 'john-pub.txt')}.

.link-set
  %h2 Friends
  %ul
    - %w(charlie micah blake finn reno jeff corey).each do |name|
      %li= john_link name

.link-set
  %h2 Social
  %ul
    - %w(twitter identica couchsurfing google-plus).each do |name|
      %li= john_link name

.link-set
  %h2 Past
  %ul
    - %w(kendo go yoga lindy muay-thai aikido coops physics games).each do |name|
      %li= john_link name
